* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background-image: url("img3.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width:390px;
    background:transparent;
    border:2px solid rgba(255,255,255,.3);
    backdrop-filter: blur(15px);
    box-shadow:0 0 15px rgba(0,0,0,.3);
    color:#333333;
    padding:30px 40px;
    border-radius: 35px;
}
.container h1{
    font-size:25px;
    text-align: center;
}

.container .input-box{
    width: 100%;
    height: 53px;
    margin:30px 0;
}

.container input{
    width:100%;
    height:100%;
    border:none;
    outline:none;
    border:2px solid rgba(255,255,255,0.2);
    border-radius: 40px;   
    padding:20px 45px 20px 20px;
    transition: all 0.3s ease;
}

.input-box input::placeholder{
    color:black;
}

.input-box i{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.input-box i{
    margin:-35px;
    margin-left:215px;
    transform: translateY(10%);
}

.container .btn{
    width:100%;
    height:45px;
    margin:0px;
    margin-bottom: 10px;
    border:none;
    outline:none;
    background:antiquewhite;
    border-radius:35px;
    box-shadow: 0 0 25px rgba(0,0,0,.1);
    cursor:pointer;
    font-size:15px;
    color:black;
    font-weight:500px;
    transition: all 0.3s ease;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0,0,0,.1);
}


.container input:hover{
    transform: scale(1.05);
    
}